<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to image_tag("rails.png", alt: "logo", :size => "100x60"), root_path, id: "logo" %>
    <div class="row">
    <nav class="header_above">
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("help"), help_path %></li>
          <li><%= link_to t("login"), '#', class:'fa fa-user' %></li>
          <li><%= link_to t("sign_up"), signup_path, class:"fa fa-lock" %></li>
          <a>
          <input type="text" ="search" placeholder="Search..">
          </a>
        <li><%= link_to t("english"), locale:"en" %></li>
        <li><%= link_to t("vietnamese"), locale:"vi" %></li>

        <div style="float:right;width:10px:height:93px;">
        <div id="shopcart">
              <%= link_to image_tag("shopcart.png", alt: "shopcart", :size => "45x45"), id: "shopcart" %>

        </div>
      </ul>
        </ul>
      </nav>
    </div>

  </div>
</header>
